body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  margin: 1em;
}

h1, h2, h3 {
  text-align: center;
  margin-top: 2em;
  color: #4a4a4a;
}

p {
  text-indent: 1.5em;
  margin: 0.5em 0;
}

blockquote {
  margin: 1em 2em;
  font-style: italic;
  color: #555;
}

h3 {
  page-break-before: always;
}
